{% extends 'base.html.twig' %}

{% block title %}Formació en Frameworks PHP{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    {% block head %}
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="{{ asset('build/images/logoSeidor.png') }}" alt="Seidor SBS/Itteria">
            </a>
        </header>
    {% endblock %}
    {% block main %}
        <main>
            <h1>Formació en Frameworks PHP</h1>
            <p class="fs-5 col-md-8">
                Proposit d'aquesta formació es reflectir les instruccions necessaries per la creació de webs amb Frameworks PHP
            </p>

            <hr class="col-12 col-md-12 mb-5">

            <div class="row g-5">
                <div class="col-md-8">
                    <h5><a href="{{ url('formacio_tema',{'tema': 'tema1'}) }}">Primera Part - Coses a saber abans de desenvolupar amb frameworks de PHP</a></h5>
                    <p>Visió Global de frameworks creat per PHP</p>
                    <ul class="icon-list">
                        <li>Que es un Framework PHP?</li>
                        <li>Per que s'utilitza un Framework PHP?</li>
                        <li>Quines són les necessitats saber abans d’utilitzar un Framework PHP</li>
                        <li>Que hauries buscar en un Framework PHP?</li>
                        <li>Quins són els millors Frameworks PHP al 2021?</li>
                        <li>Qui és el millor Framework PHP per principiants?</li>
                    </ul>

                    <h5><a href="{{ url('formacio_tema',{'tema': 'tema2'}) }}">Segona Part - Instal·lació d'un framework PHP <br> (Symfony 5.2 + PHP7.4 + MySql + Docker + composer)</a></h5>
                    <p>Inicialització d'un framework PHP i creació d'un controllador</p>
                    <ul class="icon-list">
                        <li>Preparació d'entorn de treball</li>
                        <li>Iniciant un projecte amb un Framework</li>
                        <li>Metodologia de treball</li>
                        <li>Creant un Controlador des de la linea de comandes</li>
                        <li>Routing en un framework</li>
                    </ul>

                    <h5><a href="{{ url('formacio_tema',{'tema': 'tema3'}) }}">Tercera Part - entorn de base de dades</a></h5>
                    <p>Creació de bases de dades i entitats </p>
                    <ul class="icon-list">
                        <li>Que s'ha de tenir clar en el moment d'escollir una base de dades en un framework</li>
                        <li>Creació d'entitats i repository des de la linea de comandes</li>
                        <li>En el cas de canvis en les entitats del framework com es realitzen les migracions</li>
                        <li>Utilització d'ORM dins d'un framework</li>
                    </ul>

                    <h5><a href="{{ url('formacio_tema',{'tema': 'tema4'}) }}">Cuarta Part - Vistes i templates</a></h5>
                    <p>Twig, webpack, CSS i  aplicació dels assets </p>
                    <ul class="icon-list">
                        <li>Que es Twig</li>
                        <li>Ques es el webpack i instalació</li>
                        <li>Com s'actualitzen les CSS</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h5 class="fst-italic">Eines necessaries</h5>
                        <ul class="icon-list">
                            <li>Composer</li>
                            <li>PHP 7.4 o PHP 8</li>
                            <li>Docker i/o WampServer (en el cas que tingueu Windows Home)</li>
                            <li>GIT (el desenvolupament s'ha realitzat amb GITBash)</li>
                            <li>IDE's per desenvolupament
                                <br>
                                En el cas de no tenir cap instal·lat podeu utilitzar els següents:
                                <ul>
                                    <li>PhpStorm</li>
                                    <li>Visual Studio Code</li>
                                    <li>Komodo</li>
                                    <li>Eclipse</li>
                                    <li>Netbeans</li>
                                    <li>Sublime</li>
                                </ul>
                            </li>
                            <li>Linea de Comanda (pels que tenen de sistema operatiu Windows utilitzarem GITBash)</li>
                        </ul>
                    </div>
                    <div class="p-4 mb-3">
                        <h5>Enllaços</h5>
                        <ol class="list-unstyled mb-0">
                            <li><a href="https://getcomposer.org/download/" target="_blank">Documentació d'instalació Composer</a></li>
                            <li><a href="https://windows.php.net/downloads/releases/php-8.0.6-src.zip" target="_blank">PHP8 per windows</a></li>
                            <li><a href="https://gitlab.com/jordimasjene/docker_php8_postgresql/-/archive/master/docker_php8_postgresql-master.zip" target="_blank">Entorn Docker de desenvolumament PHP8 + Nginx + PostgreSQL</a></li>
                            <li><a href="https://desktop.docker.com/win/stable/amd64/Docker%20Desktop%20Installer.exe" target="_blank">Docker Destock windows</a></li>
                            <li><a href="https://sourceforge.net/projects/wampserver/files/WampServer%203/WampServer%203.0.0/wampserver3.2.3_x64.exe/download" target="_blank">En el cas de no poder utilitzar docker es pot fer servir WampServer</a></li>
                            <li>- IDE's:</li>
                            <ol class="mb-0">
                                <li><a href="https://www.jetbrains.com/phpstorm/" target="_blank">PHPStorm (Pagament)</a></li>
                                <li><a href="https://www.eclipse.org/pdt/#download" target="_blank">Eclipse (Gratuit)</a></li>
                                <li><a href="https://netbeans.apache.org/download/index.html" target="_blank">NetBeans (Gratuit)</a></li>
                                <li><a href="https://www.sublimetext.com/3" target="_blank">Sublime (Gratuit)</a></li>
                                <li><a href="https://visualstudio.microsoft.com/es/vs/community/" target="_blank">Visual Studio Code Commnity (Gratuit)</a></li>
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    {% block footer %}
        <footer class="pt-5 my-5 text-muted border-top">
            Creat per Jordi Mas per Seidor SBS/Itteria team Open Source &middot; &copy; 2021
        </footer>
    {% endblock %}
</div>
{% endblock %}
