{% extends 'formacio/index.html.twig' %}

{% block title %}Formació en Frameworks PHP {{ ContentData.title }} {% endblock %}

{% block body %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    {% block head %}
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <div class="col-lg-2">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="{{ asset('build/images/logoSeidor.png') }}" alt="Seidor SBS/Itteria">
                </a>
            </div>
            <div class="col-lg-10">
                <h1>Formació en Frameworks PHP</h1>
                <h2>{{ ContentData.title }}</h2>
            </div>    
        </header>
    {% endblock %}
    {% block main %}
        <main>
            <h3>{{ ContentData.subtitle }}</h3>
            {{ ContentData.content | raw}}
        </main>        
    {% endblock %}
        {% block footer %}
        <footer class="pt-5 my-5 text-muted border-top">
            Creat per Jordi Mas per Seidor SBS/Itteria team Open Source &middot; &copy; 2021
        </footer>
    {% endblock %}
</div>
{% endblock %}

